{% block content %}
    {% if request.user.is_authenticated %}
    <h1>Hello {{ request.user|title }}</h1>
    <button>Select Unit</button>
        <form method="Post" action="{% url "logout" %}">
        {% csrf_token %}
        <button>Logout</button>
        </form>

    {% else %}
    <button onclick="register()">Register</button>
<button onclick="login()">Login</button>
    {% endif %}
{% endblock content %}

<script>
function register(){
    return window.location.replace("{% url 'register' %}")
}
function login(){
    return window.location.replace("{% url 'login' %}")
}
</script>